@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  margin: 0;
  padding: 5rem;
  align-items: center;
  font-family: "Special Elite", cursive;
  background-image: linear-gradient(to right, orange, yellow);
}
.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: white;
  background-color: greenyellow;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(72, 72, 72);
}
.circle:active {
  box-shadow: inset 0 0 40px rgb(96, 96, 96);
}


h1 {
  font-family: "Special Elite", cursive;
  margin: 5rem auto;
  text-align: center;
  font-size: 5rem;
}
p {
  font-family: "Special Elite", cursive;
  margin: 2rem auto;
  text-align: center;
  font-size: 3rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.active {
  box-shadow: 0 0 5px snow;
  border: 5px solid rgba(79, 17, 85, 0.849);
  background-image: url("assets/images/grin.png");
  background-size: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  align-items: center;
  /* display: grid; */
  justify-content: center;
  margin: 1rem;
  margin-top: 2rem;
  margin-left: 35vw;
}
button {
  font-family: "Special Elite", cursive;
  padding: 0.8rem 2rem;
  border: none;
  background-color: wheat;
  margin: 1rem;
  font-size: 2rem;
  align-content: center;
  display: inline-block;
}
.popUpDiv {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: white;
  box-shadow: 0 0 5px #333;
  padding: 3rem;
  padding-bottom: 6rem;
  margin: 0 auto;
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
